body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: none;
}

#main-header {
    display: block
    font-size: 300%;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#main-header h1 {
    margin: 5px 0px 5px 0px;
}

#main-header h5 {
    margin:0px;
}

#nav-menu {
    background-color: black;
    margin: 5px 0px 5px 0px;
}

.nav-list li {
    display: inline-block;
    list-style-type: none;
    font-size: 100%;
    font-weight: 700;
    color: #fff;
    margin: 5px 20px 5px 20px;
    padding: 2px;
    text-align: center;
    position: center;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    text-align: inherit;
}


footer {
    background-color: black;
    color: #fff;
    padding: 15px;
}