body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    border: none;
}

/* Site header */

#main-header {
    display: block;
    background-color: #fff;
    padding: 5px;
    margin: 10px 10px 30px 10px;
}

#main-header a {
    text-decoration: none;
    color: #000000;
}

#main-header h1 {
    font-size: 300%;
    font-weight: 700;
    text-align: center;
    margin: 5px;
}

#main-header h1:hover {
    color: #ACFFAD
}

#main-header h5 {
    font-size: 100%;
    font-weight:700;
    text-align: center;
    margin: 5px;
}

/* Navigation Menu*/

#nav-menu {
    background-color: #000000;
    margin: 0 auto;
    width: 100%;
    height: 90px;
}

.nav-list {
    display: table;
    margin: 0 auto;
    padding: 0;
    height: 90px;
}

.nav-list li {
    display: inline-block;
    list-style-type: none;
    font-size: 150%;
    font-weight: 700;
    margin: 0px 30px 0px 30px;
    padding: 0px 30px 0px 30px;
    width: fit-content;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 90px;
    height: 90px;
}

.nav-list li:hover {
    background-color: #ACFFAD;
    color: #000000;
    transition-duration: 0.5s;
}

/* Homepage Hero Image Section */

.homepage-hero-image-section {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.homepage-hero-image-div {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #ACFFAD;
}

 
.homepage-hero-image-div img {
    max-width: 100%;
    height: auto;
    background: no-repeat center;
    background-size: contain;
    overflow: hidden;
    top: -400px; 
}


.homepage-hero-image-cover-text {
    font-size: 100%;
    text-align: center;
    margin: 15px;
    padding: 0;
    width: 200px;
    height: 90px;
    bottom: 120px;
    left: 75px;
    background-color: #ACFFAD;
    position: absolute; 
}

.homepage-hero-image-cover-text h2 {
    font-size: 150%;
    font-weight: 700;
    margin: 0 auto;
    padding: 15px 10px 15px 10px;
    text-align: center;
    vertical-align: middle;
}


/* Homepage Class & Venue Info */


.class-info-content {
    display: inline-block;
    width: 35%;
    height: 800px;
    margin: 10px;
    }

.class-info-content h2 {
    font-size: 175%;
    text-align: center;
}

.class-info-content h3 {
    font-size: 150%;
    font-weight: 700;
    margin: 5px 35px 2px 250px;

}

.class-info-content p {
    font-size: 125%;
    font-weight: 500;
    text-align: center;
    margin: 10px 0px 35px 0px;
}

.class-info-content ul {
    margin: 2px 20px 35px 275px;
    padding: 0;
}

.class-info-content li {
    font-size: 115%;
    font-weight: 500;
    text-align: left;
    padding: 2px;
}

.button {
    font-weight: 700;
    font-size: 135%;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-overflow: hidden;
    vertical-align: middle;
    border: 0;
    padding: 15px;
    margin: 60px 0px 35px 0px;
    background-color: #ACFFAD;
}

.button:hover {
    background-color: #000000;
    color: #fff;
}

.venue-info-content {
    display: inline-block;
    width: 55%;
    height: 800px;
    margin: 0;
    padding: 0;
    background-color: #ACFFAD;
}

/* Student Quotes */

.student-quotes-section {
    width: 100%;
    height: 250px;
}

/* Footer */

footer {
    height: 260px;
    width: 100%;
    background-color: black;
    color: #fff;
    display: table;
    text-align: center;
}

.contact {
    width: 40%;
    height: 230px;
    /*background-color: darkturquoise;*/
    margin: 20px 20px 20px 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.contact h3 {
    font-size: 175%;
    margin-left: 30px;
}

.contact a {
    font-size: 125%;
    margin-left: 35px;
    margin-right: 1rem;
    text-decoration: none;
    color: #fff
}

.contact p {
    font-weight: 500;
    font-size: 125%;
}

.social {
    width: 40%;
    height: 230px;
    /*background-color: rgb(228, 35, 35);*/
    margin: 20px 20px 20px 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.social ul {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0px;
}

.social li {
    display: inline-block;
    list-style-type: none;
    margin: 25px 15px 25px 15px;
    padding: 0 auto;
}

.social a {
    font-size: 300%;
    font-weight: 700;
    color: #fff;
}

footer i:hover {
    color: #50CB93
}